* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
}

.container{
  width: 1500px;
  height: 750px;
}

/*box*/

.box {

  width: 350px;
  height: 400px;
  display: inline-block;
  position: relative;
  border: 1px solid black;
}
/*foto ipad*/
.pic1 {
  background-image: url("../img/pd1.jpg");
  background-repeat: no-repeat;
}
/*foto telefoni*/

.pic2 {
  background-image: url("../img/pd2.jpg");
  background-repeat: no-repeat;
}
/*foto cuffie*/

.pic3 {
  background-image: url("../img/pd3.jpg");
  background-repeat: no-repeat;
}

/*etichetta sconto verde*/
.discount {
  width: 40px;
  height: 20px;
  background: green;
  position: absolute;
  top: 0px;
  right: 0px;
}

/*.discount:nth-child(even) {
  background-color: red;
}ho provato a dire i pari rossi ma non funzionava. Cosa ho sbagliato?*/

/*etichetta rossa*/
.discountred {
  width: 40px;
  height: 20px;
  background: red;
  position: absolute;
  top: 0px;
  right: 0px;
}
